.tabBar {
  padding-bottom: 55px;
  .tabBar_box {
    display: flex;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px 0 0 0;
    border-top: 1px solid #eee;
    a {
      display: block;
      flex: 1;
      border-right: 1px solid #eee;
      &:last-child {
        border: 0;
      }
      i {
        display: block;
        margin-bottom: 5px;
      }
    }
    .active {
      color: #dd1712
    }
  }
}


