.category_detail_cat_tab_bar {
  .am-navbar-light {
    background-color: #f7f7f7;
    color: #8d9193;
    border-bottom: 1px solid #eee;
  }
  .am-navbar-left {
    flex: 1;
  }
  .am-navbar-title {
    flex: 7;
    padding: 0 10px;
    position: relative;
    .am-icon-search {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #8d9193;
    }
    input {
      height: 25px;
      border: 1px solid #8d9193;
      width: 100%;
      border-radius: 10px;
      padding-left: 25px;
    }
  }
}
