.home_ListCategory .am-tabs {
  padding-top: 44px;
  position: relative;
}

.home_ListCategory .am-tabs-tab-bar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home_ListCategory .am-tabs-default-bar-tab-active {
  color: #dd1712;
}

.home_ListCategory .am-tabs-default-bar-underline {
  border: 1px #dd1712 solid;
}

.home_ListCategory .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
