.shoppingCar {
  padding-top: 45px;
  padding-bottom: 55px;
  touch-action: pan-y;
  .navBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  .cartList {
    margin-top: 5px;
    
    .cartItem {
      display: flex;
      margin-top: 5px;
      background-color: #fff;
      .left {
        flex: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        padding-left: 10px;
        i {
          font-size: 35px;
        }
      }
      .img {
        flex: 2;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          // height: 100%;
        }
      }
      .right {
        flex: 4;
        position: relative;
        margin-left: 10px;
        font-size: 14px;
        word-wrap:break-word
        h3 {
          margin: 15px 0;
        }
        p {
          margin: 10px 0;
          display: flex;
          span {
            flex: 1;
          }
        }
        .totalPrice {
          display: flex;
          align-items: center;
          width: 100%;
          padding-right: 10px;
          box-sizing: border-box;
          .unitPrice {
            flex: 1;
            font-size: 16px;
            i {
              font-style: normal;
              font-size: 14px;
            }
          }
          .stepper {
            flex: 1
          }
        }
      }
    }
  }

  .toPay {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 56px;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #eee;
    .all{
      display: flex;
      align-items: center;
      i {
        font-size: 30px;
      }
      
    }
    div {
      flex: 1;
      &:first-child {
        flex: 1;
        text-align: left;
        padding-left: 30px;
      }
      &:last-child {
        border-left: 1px solid #eee;
      }
    }
  }
  .selectAll {
    color: #6cbdf7;
  }
  
}
.am-list-extra {
  display: none;
}
.am-list-item .am-list-line .am-list-arrow-horizontal {
  display: none;
}
.am-list-item .am-list-line {
  margin-right: 0;
}
.am-list-item {
  padding-left: 0;
}
.am-swipe {
  overflow: visible;
}