.viewFullText {
  padding-top: 45px;
  background-color: #fff;
  height: 100%;
}

.viewFullText .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.viewFullText .item {
  background-color: #fff;
}

.viewFullText .item .top {
  height: 55px;
  padding: 5px 0;
  display: flex;
  border-bottom: 1px solid #eee;
}

.viewFullText .item .top .img {
  flex: 1;
}

.viewFullText .item .top .img div {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.viewFullText .item .top .img div img {
  width: 100%;
}

.viewFullText .item .top .title {
  flex: 3;
  display: flex;
}

.viewFullText .item .top .title .name {
  flex: 3;
}

.viewFullText .item .top .title .name h5 {
  margin: 5px 0 5px 0;
}

.viewFullText .item .top .title .attention {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  margin: 5px;
}

.viewFullText .item .text {
  font-size: 16px;
  padding: 10px 20px;
  text-indent: 2em;
  line-height: 25px;
}

.viewFullText .item .text h2 {
  margin: 10px 0;
  text-indent: 0;
}

.viewFullText .item .text img {
  width: 100%;
}
