.CategoryDetail {
  padding-top: 45px;
}

.CategoryDetail .nav_bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.CategoryDetail .am-navbar {
  background-color: #f7f7f7;
}

.CategoryDetail .am-navbar-light {
  color: #8d9193;
}

.CategoryDetail .category {
  display: flex;
  text-align: center;
  border-top: 1px solid #f9fafb;
  border-bottom: 1px solid #f9fafb;
  background-color: #fff;
  flex-wrap: wrap;
}

.CategoryDetail .category .category_item {
  display: block;
  padding-top: 20px;
  border-right: 1px solid #f9fafb;
  border-bottom: 1px solid #f9fafb;
  color: #000;
}

.CategoryDetail .category .category_item img {
  width: 50px;
}

.CategoryDetail .category .category_item p {
  font-size: 14px;
}

.CategoryDetail .category .category_item:last-child {
  border: 0;
}

.CategoryDetail .verticalCarousel {
  display: flex;
  margin-bottom: 5px;
  background-color: #fff;
}

.CategoryDetail .verticalCarousel .icon {
  padding-left: 5px;
}

.CategoryDetail .verticalCarousel .icon img {
  height: 25px;
}

.CategoryDetail .verticalCarousel .content {
  flex: 1;
}

.CategoryDetail .verticalCarousel .content .am-wingblank {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.CategoryDetail .activitie {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 5px 5px 5px #eee;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.CategoryDetail .activitie h5 {
  margin: 10px;
}

.CategoryDetail .activitie .content {
  padding: 0 5px;
  display: flex;
}

.CategoryDetail .activitie .content .activitie_item {
  flex: 1;
  text-align: center;
}

.CategoryDetail .activitie .content .activitie_item .img img {
  width: 97%;
  height: 70px;
}

.CategoryDetail .activitie .content .activitie_item p {
  margin: 2px 0;
}

.CategoryDetail .activitie .content .activitie_item p:last-child {
  font-size: 12px;
}

.CategoryDetail .slider {
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 5px;
}

.CategoryDetail .slider h5 {
  margin: 10px;
}

.CategoryDetail .fixed {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 99;
}
