.category_detail_list .out_box {
  padding: 5px 0;
}

.category_detail_list .out_box .item {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 0;
  background-color: #fff;
}

.category_detail_list .out_box .item .img {
  flex: 1;
}

.category_detail_list .out_box .item .img img {
  width: 90%;
}

.category_detail_list .out_box .item .right {
  flex: 2;
  padding-left: 10px;
}

.category_detail_list .out_box .item .right .title {
  font-size: 16px;
}

.category_detail_list .out_box .item .right .desc {
  display: flex;
  padding-top: 15px;
  align-items: center;
}

.category_detail_list .out_box .item .right .desc .price {
  flex: 1;
  font-size: 18px;
  font-weight: 800;
  color: red;
}

.category_detail_list .out_box .item .right .desc .hits {
  flex: 1;
}

.category_detail_list .loadMore {
  line-height: 50px;
  text-align: center;
}
